@page "/carrito"



<div class="col-lg-8 mb-4">
    <h1>Carrito de compras</h1>
    <form id="cart-update-form" method="post">
        <div class="table-responsive card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
               
            </table>
        </div>

    </form>
</div>

@{
    



}